body{
    background: linear-gradient(to left, rgb(15, 218, 225), rgb(222, 235, 36));
}
.container {
    width: 69%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(46, 25, 126);
}
a{
    font-family:cursive;
    font-weight: bold;
}
.notecard{
    box-shadow:2px 2px 2px 2px  rgb(151, 147, 147);
    border-top: 3px solid rgb(26, 48, 210);
}
#saveBtn{
    display: none;
}
.signuphead{
    width: 30%;
    margin: 40px  auto; 
    text-align: center; 
}
.signup{
    font-size: 17px;
    font-weight:600;
}
.container2{
    width: 30%;
    margin: 2px  auto;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;
}